@font-face {
  font-family: KnightFont;
  src: url(../../assets/fonts/Geizer.otf);
}

@font-face {
  font-family: Gidole;
  src: url(../../assets/fonts/Gidole-Regular.ttf);
}

@font-face {
  font-family: RomanSerif;
  src: url(../../assets/fonts/RomanSerif.ttf);
}

@font-face {
  font-family: RomanSerif;
  font-style: italic;
  src: url(../../assets/fonts/RomanSerif-Oblique.ttf);
}
